.vscode
experiments

.prompt
_prompt_response.txt
_prompt.txt
coverage.out

_examples/chi/files
_examples/chirender/files
_examples/echo/files
_examples/gin/files
_examples/stdlib/files
vendor/
.cache
