{{define "_user_card"}}
<div class="card">
    <h3>User Card (rendered with 'locals')</h3>
    <p><b>Name:</b> {{.Name}}</p>
    <p><b>Age:</b> {{.Age}}</p>
    <p><b>Status:</b> {{.Status}}</p>
</div>
{{end}}